


body {
    background-color: #a3d0ef;
}

p {
    float: left;
    padding: 10px;
    margin: 5px;
    font-family: 'Gloria Hallelujah', cursive;
    display: block;
    font-size: 20px;
}

input {
    float: right;
    padding: 10px;
    margin: 5px;
    display: block;
    height: 10px;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 700px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#the-dad {
    border-radius: 50%;
    float:left;
    display: block;
}

.left {
    /* border: 2px solid red; */
    display: grid;
    justify-items: start;
    grid-template-rows: auto;

}
.right {
    /* border: 2px solid green; */
    display: grid;
    justify-items: end;
    align-items: start;
    grid-template-rows: auto;

}