


body {
    background-color: #a3d0ef;
}

p {
    float: left;
    padding: 10px;
    margin: 5px;
    font-family: 'Gloria Hallelujah', cursive;
}

input {
    float: right;
    padding: 10px;
    margin: 5px;
    display: block;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
}

#the-dad {
    border-radius: 50%;
    float:left;
}

.left {
    border: 2px solid red;
}
.right {
    border: 2px solid green;
}